.form-group label{
	font-weight:500;
}
.main-form {
    margin: 0 auto;
}
.card-header {
    background-color: transparent;
    text-align: center;
}

.btn-lg.col-md-6 {
	margin: 10px auto!important;
    display: block;
}
.form-content {
	margin-bottom:60px;
}

.form-content .form-control {
    border-radius: 0;

}

.container.form-content .btn{
    min-width: 140px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    height: 40px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.container.form-content .btn-success{
    background-image: linear-gradient(to right, #dc3545, #FCEE21, #dc3545, #dc3545);
    box-shadow: 0 4px 15px 0 rgba(2, 2, 2, 0.16);
    box-shadow: 0 4px 15px 0 rgba(2, 2, 2, 0.16);
}

.container.form-content .btn-primary{
    background-image: linear-gradient(to right, #330aeb, rgb(252, 33, 234), #10ffff, #1bda64);
    box-shadow: 0 4px 15px 0 rgba(2, 2, 2, 0.16);
    box-shadow: 0 4px 15px 0 rgba(2, 2, 2, 0.16);
}
.container.form-content .btn:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.header_content h2{
	font-size:40px;
	font-weight:bold;
	margin-bottom:20px;
}
.header_content{
	text-align:center;
	padding:40px;
	color:#fff;
}