<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Striped Table</h4>
          <div class="row">
            <div class="col-md-12 pull-right">
                <a routerLink="/ajouterProjet" class="btn btn-danger pull-right">Enregistrer</a>
                <div class="col-sm-4 pull-right">
                    <input type="text" class="form-control" placeholder="recherche">
                    
                </div>
            </div>
        </div>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>
                    #
                  </th>
                  <th>
                    Nom projet
                  </th>
                  <th>
                    Nombres documents
                  </th>
                  <th>
                    Consultable
                  </th>
                  <th>
                    Date d'ajout
                  </th>
                  <th>
                    Action
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="py-1">
                    <img src="assets/images/faces-clipart/pic-1.png" alt="image" />
                  </td>
                  <td>
                    Prospect Commercial
                  </td>
                  <td>
                    3
                  </td>
                  <td>
                    <div class="onoffswitch2">
                        <input type="checkbox" name="onoffswitch2" class="onoffswitch2-checkbox" id="myonoffswitch3" checked>
                        <label class="onoffswitch2-label" for="myonoffswitch3">
                            <span class="onoffswitch2-inner"></span>
                            <span class="onoffswitch2-switch"></span>
                        </label>
                    </div>
                  </td>
                  <td>
                    May 15, 2020
                  </td>
                  <td>
                    <div ngbDropdown class="d-inline-block">
                      <button class="btn btn-warning icon-btn btn-sm" type="button" id="dropdownMenuIconButton1" ngbDropdownToggle>
                        <i class="mdi mdi-account-details"></i>
                      </button>
                      <div ngbDropdownMenu aria-labelledby="dropdownMenuIconButton1">
                        <button type="button" class="btn btn-link btn-fw" routerLink="/modifierClient/"><span class="mdi mdi-update"></span>   update</button><br>
                        <button type="button" class="btn btn-link btn-fw" (click)="delete()"><span class="mdi mdi-delete-sweep"></span>   delete</button>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="py-1">
                    <img src="assets/images/faces-clipart/pic-2.png" alt="image" />
                  </td>
                  <td>
                    Prospect Commercial-Orange
                  </td>
                  <td>
                    10
                  </td>
                  <td>
                    <div class="onoffswitch2">
                        <input type="checkbox" name="onoffswitch2" class="onoffswitch2-checkbox" id="myonoffswitch4" checked>
                        <label class="onoffswitch2-label" for="myonoffswitch4">
                            <span class="onoffswitch2-inner"></span>
                            <span class="onoffswitch2-switch"></span>
                        </label>
                    </div>
                  </td>
                  <td>
                    april 1, 2020
                  </td>
                  <td>
                    <div ngbDropdown class="d-inline-block">
                      <button class="btn btn-warning icon-btn btn-sm" type="button" id="dropdownMenuIconButton1" ngbDropdownToggle>
                        <i class="mdi mdi-account-details"></i>
                      </button>
                      <div ngbDropdownMenu aria-labelledby="dropdownMenuIconButton1">
                        <button type="button" class="btn btn-link btn-fw" routerLink="/modifierClient/"><span class="mdi mdi-update"></span>   update</button><br>
                        <button type="button" class="btn btn-link btn-fw" (click)="delete()"><span class="mdi mdi-delete-sweep"></span>   delete</button>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="py-1">
                    <img src="assets/images/faces-clipart/pic-3.png" alt="image" />
                  </td>
                  <td>
                    Prospect Commercial-Delta
                  </td>
                  <td>
                    7
                  </td>
                  <td>
                    <div class="onoffswitch2">
                        <input type="checkbox" name="onoffswitch" class="onoffswitch2-checkbox" id="myonoffswitch" checked>
                        <label class="onoffswitch2-label" for="myonoffswitch">
                            <span class="onoffswitch2-inner"></span>
                            <span class="onoffswitch2-switch"></span>
                        </label>
                    </div>
                  </td>
                  <td>
                    Apr 12, 2020
                  </td>
                  <td>
                    <div ngbDropdown class="d-inline-block">
                      <button class="btn btn-warning icon-btn btn-sm" type="button" id="dropdownMenuIconButton1" ngbDropdownToggle>
                        <i class="mdi mdi-account-details"></i>
                      </button>
                      <div ngbDropdownMenu aria-labelledby="dropdownMenuIconButton1">
                        <button type="button" class="btn btn-link btn-fw" routerLink="/modifierClient/"><span class="mdi mdi-update"></span>   update</button><br>
                        <button type="button" class="btn btn-link btn-fw" (click)="delete()"><span class="mdi mdi-delete-sweep"></span>   delete</button>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="py-1">
                    <img src="assets/images/faces-clipart/pic-4.png" alt="image" />
                  </td>
                  <td>
                    Prospect Commercial-Achat et Vente
                  </td>
                  <td>
                    15
                  </td>
                  <td>
                    <div class="onoffswitch2">
                        <input type="checkbox" name="onoffswitch2" class="onoffswitch2-checkbox" id="myonoffswitch1" checked>
                        <label class="onoffswitch2-label" for="myonoffswitch1">
                            <span class="onoffswitch2-inner"></span>
                            <span class="onoffswitch2-switch"></span>
                        </label>
                    </div>
                  </td>
                  <td>
                    May 15, 2020
                  </td>
                  <td>
                    <div ngbDropdown class="d-inline-block">
                      <button class="btn btn-warning icon-btn btn-sm" type="button" id="dropdownMenuIconButton1" ngbDropdownToggle>
                        <i class="mdi mdi-account-details"></i>
                      </button>
                      <div ngbDropdownMenu aria-labelledby="dropdownMenuIconButton1">
                        <button type="button" class="btn btn-link btn-fw" routerLink="/modifierClient/"><span class="mdi mdi-update"></span>   update</button><br>
                        <button type="button" class="btn btn-link btn-fw" (click)="delete()"><span class="mdi mdi-delete-sweep"></span>   delete</button>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  